$danger: #c408ea;
$secondary: #abc7df;
$success: #0d8f79;
$info: #0871ea; 
$warning: #ffa807;
$primary: #e4461e;

$gradient-primary: linear-gradient(59deg, #2AF598 0%, #08AEEA 89%);
$gradient-secondary: linear-gradient(59deg, #ebf4f5 0%, #b5c6e0 89%);
$gradient-success: linear-gradient(59deg, #5da92f 0%, #0d8f79 89%);
$gradient-info: linear-gradient(59deg, #918dac 0%, #01dbff 89%);
$gradient-warning: linear-gradient(59deg, #f7a2a1 0%, #ffed00 89%);
$gradient-danger: linear-gradient(59deg, #f19e18 0%, #e62314 89%);

@import "bootstrap/scss/bootstrap";